<!DOCTYPE html>
<html lang="en">
  <%- include('templates/header'); -%>

  <body>
    <%- include('templates/nav'); -%>
    <div class="container contApp my-5">
      <div class="jumbotron text-center border-bottom my-3">
        <h1 class="display-4">Product List</h1>
        <p class="lead">Current product stock</p>
      </div>

      <div>
        <!-- Se agrega un buscador como componente -->
        <%- include('components/buscador'); -%> <% if(items){ %>

        <!-- Se renderizan los items que se encuentran en el archivo.txt -->
        <div class="row justify-content-center">
          <% data.forEach(element => { %>
          <!-- <div class="col-sm-4 m-3"> -->
          <div class="card m-3" style="width: 18rem">
            <img
              src="https://images.unsplash.com/photo-1563201180-d98027da04f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title"><%= element.name %></h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <p><b>price: <%= element.price %></b></p>

              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <!-- </div> -->
          <% }) %>
        </div>
        <% } else {%>
        <div>
          <h1></h1>
          <div class="alert alert-warning" role="alert">
            <%= MSG_NOT_FOUNT %>
          </div>
        </div>
        <% }%>
      </div>
    </div>

    <div class="bg-dark"><%- include('./templates/footer'); -%></div>
  </body>
</html>
